*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.body{
    display: flex;
    flex-direction: row;
    justify-content:left;
    gap: 10px;

}
.container{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: rgb(125, 70, 70);
    padding: 10px;
    gap: 10px;
    width: 75%;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box div{
    background-color: #9f9595;
    text-align: center;
    border: 3px solid rgb(22, 22, 22);
    border-radius: 8px;
    padding: 10px 20px;
}